<mat-card>
    <form [formGroup]="form">


        <mat-form-field>
            <mat-label>Texto</mat-label>
            <textarea #text  rows="20" cols="100" formControlName="text"  matInput></textarea>
        <mat-hint align="end">{{text.value.length}} / 25</mat-hint>

        </mat-form-field>
        <button [disabled]="!form.valid" type="button" (click)="submit()" mat-raised-button
            color="primary">Analizar</button>
    </form>
    <table *ngIf="results" class="result-table" >
        <thead>
            <th>Resultados</th>
            <th>Web</th>
        </thead>
        <tbody>
          
            <tr>
                <td>Puntaje</td>
                <td>{{ results.score}}</td>
            </tr>
            <tr>
                <td>Categoria</td>
                <td>{{ results.category }}</td>
            </tr>
            <tr>
                <td>Longitud</td>
                <td>{{ results.length}}</td>
            </tr>

        </tbody>
    </table>
</mat-card>