<mat-card>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Mi Url</mat-label>
            <input formControlName="url" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Keyword</mat-label>
            <input formControlName="keyword" matInput>

        </mat-form-field>

        <section>
            <h3>Competidores</h3>
            <ul formArrayName="competitors">
                <li *ngFor="let item of form.controls.competitors.controls; let i = index">

                    <mat-form-field>
                        <mat-label>Competidor {{i+1}}</mat-label>
                        <input formControlName="url" matInput formControlName="{{i}}">
                    </mat-form-field>
                    <button type="button" mat-fab color="warn" title="Remove Request"
                        (click)="onRemoveSpecialRequest(i)">
                        <mat-icon>delete</mat-icon>


                    </button>
                </li>
            </ul>
            <button id="add" type="button" (click)="onAddSpecialRequest()" mat-raised-button color="accent">
                Agregar url
            </button>
        </section>

        <button [disabled]="!form.valid" type="button" (click)="onSubmitForm()" mat-raised-button
            color="primary">Crawling</button>

    </form>

    <table  class="result-table" *ngFor="let r of results;let index=index">
        <thead>
            <th>Resultados</th>
            <th *ngIf="form.controls['url'].value !== r.url; else loggedOut" >Competidor {{ index}}</th>
            <ng-template #loggedOut>
                <th #loggedOut >Mi url</th>

              </ng-template>
        </thead>
        <tbody>

            <tr>
                <td>Url</td>
                <td>{{ r.url}}</td>
            </tr>
            <tr>
                <td>Puntaje</td>
                <td>{{ r.puntajeSentimiento}}</td>
            </tr>
            <tr>
                <td>Categoria</td>
                <td>{{ r.categoriaNivelConfianza }}</td>
            </tr>
            <tr>
                <td>Longitud</td>
                <td>{{ r.longitudTexto}}</td>
            </tr>

        </tbody>
    </table>
</mat-card>